
name: account_fee_data

loading_strategy: snapshot

source:
  file_path_glob_pattern: "DD_fee_account_table_*.txt"
  delimiter: "\t"
  encoding: "latin-1"
  quoting: 1
  quote_char: '"'


# table_schema:
  # business_key: [account_number]

  # foreign_keys:
  #   - local_columns: [account_number]
  #     remote_table: account
  #     remote_columns: [account_number]

columns:
  account_number:
    csv_header: ["Account Number", "Account"]
    type_caster:
      output_type: string
      # normalizers:
      #   - method: normalize_account_number

  fee_account_number:
    csv_header: "Fee Account"
    type_caster:
      output_type: string
      # normalizers:
      #   - method: normalize_account_number

  group_id:
    csv_header: "Group ID"
    type_caster:
      output_type: integer
  
  ia_percentage:
    csv_header: "IA %"

  date_joined:
    csv_header: "Joined"
    type_caster:
      output_type: date
      interpret_mode: prefer_past
  
  date_left:
    csv_header: "Left"
    type_caster:
      output_type: date
      interpret_mode: prefer_past
  
  mm_fund:
    csv_header: "MM Fund"

  payment_type:
    csv_header: "Payment Type"
  
  schedule_type:
    csv_header: "Sched Type"
  
  sell_security:
    csv_header: "Sell Security"
  
  is_active:
    csv_header: "Status"
    type_caster:
      output_type: boolean
      true_values: ["A"]
