
name: documents

loading_strategy: snapshot

source:
  file_path_glob_pattern: "DD_document_table_*.txt"
  delimiter: "\t"
  encoding: "latin-1"
  quoting: 1
  quote_char: '"'

# table_schema:
#   business_key: [client_code, code]

  # foreign_keys:
  #   - local_columns: [client_code]
  #     remote_table: client
  #     remote_columns: [client_code]
    
columns:
  client_code:
    csv_header: "Client Code"
    type_caster:
      output_type: integer
  
  code:
    csv_header: "Document"

  date_requested:
    csv_header: "Date Requested (Docs)"
    type_caster:
      output_type: date
      interpret_mode: "prefer_past"

  date_received:
    csv_header: "Date Received (Docs)"
    type_caster:
      output_type: date
      interpret_mode: "prefer_past"

  date_approved:
    csv_header: "Approved Date"
    type_caster:
      output_type: date
      interpret_mode: "prefer_past"
  
  approved_by:
    csv_header: "Approved User"
  
  comments:
    csv_header: "Comments (Docs)"
  